<form {{action (perform create) on="submit"}}>
  <vbox xs="10" class="form">
    <hbox>
      <centered xs="2">
        <label>
          name
          {{#each song.errors.name as |error|}}
            {{error.message}}
          {{/each}}
        </label>
      </centered>
      <box xs="fill">
        {{one-way-input name update=(action (mut name))}}
      </box>
    </hbox>

    <hbox>
      <centered xs="2">
        <label>
          lyrics
          {{#each song.errors.lyrics as |error|}}
            {{error.message}}
          {{/each}}
        </label>
      </centered>
      <box xs="fill">
        {{one-way-textarea lyrics update=(action (mut lyrics))}}
      </box>
    </hbox>

    <hbox>
      <centered xs="2">
        <label>
          audio
          {{#each song.errors.audio as |error|}}
            {{error.message}}
          {{/each}}
        </label>
      </centered>
      <box xs="fill">
        {{one-way-input audio update=(action (mut audio))}}
      </box>
    </hbox>

    <hbox justify="end">
      {{#if create.isRunning}}
        saving...
      {{else}}
        <button class="col-xs-4" type="submit">create</button>
      {{/if}}
    </hbox>
  </vbox>
</form>
